# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WebApplication.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\halim\RiderProjects\WebApplication\.idea\.idea.WebApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
